#nav {
	font-size: 100%;
	font-family: "Source San Pro", sans-Serif;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav a:link {
	color: #999;
	text-decoration: none;
}

#nav a {
	display: block;
	padding: 5px 20px;
}

#nav li {
	background-color: #272b32;
	float: left;
	position: relative;
	margin-right: 10px;
	text-transform: uppercase;
	text-align: center;
}

#nav li:hover {
    background-color: #555555;
}

#nav ul ul {
	display: none;
	position: absolute;
}

#nav li li {
	width: 160px;
	margin-top: 5px;
}

#nav li li:hover {
    background-color: #757575;
}  

#nav li:hover>ul {
	display: block;
}

#nav ul ul ul {
	left: 100%;
	top: -5px;
	border: solid 1px transparent;
}