@charset "utf-8";
/* CSS Document */

body {
	background-color:#CCC;
	height:100%;
}


#body2 {
	background-color:#FFF;
	height:300px;
	width:101.1%;
	margin-left:-7px;
}


#body3 {
	background-color:#CCF;
	height:500px;
	width:101.1%;
	margin-left:-7px;
}

